<style>
body {
  background-image: url(https://files.catbox.moe/kx93oi.png);
  background-size: 100% 170%;
}

h1{
   border: 3px solid #70ffa5;
   padding:5px;
   background-image: url(https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUyZ2pueXYyd3N5ZGRlY2ZoNXZ4cGZ3OW5scWRscGF0Y2N1b2I4YjUzMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/dYtHPYJxZblCcWPwcQ/200.gif);
   background-size: cover;

main {
  background-color: #e6fffe;
  border: 3px solid #70ffa5;
}
